/* Estilo general */
body {
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    background-color: #FCFCD4;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-offer {
    display: flex;
    flex-direction: column;
  }
  
  label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .category-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  .button-form {
    background-color: #1e75a6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-form:hover {
    background-color: #145c85;
  }
  