form{
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans";
    font-size: 18px;
}
label{
display: flex;
flex-direction: row;
}
input{
border-radius: 0;
border: none; 
border-bottom: 2px solid #000000; /* Añade solo una línea inferior */
padding: 5px;
margin:15px 0;
background-color: transparent;
outline: none; /* Quita el borde azul que aparece al hacer clic */
}
.formRegister{
    background-color: #FFFFE4;
    padding: 100px 150px;
    border-radius: 40px;
    width:350px;
}
.buttonRegister{
    background-color: #218EC6;
    border-radius: 20px;
    padding: 10px 60px;
    cursor: pointer;
    color:white;
    margin-top: 20px;
    font-family: "Josefin Sans";
    font-size: 17px;
}
.buttonRegister:hover{
    background-color: #8E83ED;
}
